<img src='https://i.imgur.com/RDAD11M.png' width = '200' align = 'right'>

## *DATA SCIENCE / SECTION 1 / SPRINT 2 / NOTE 2*

# ğŸ“ Assignment

In [13]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [14]:
!sudo apt-get install -y fonts-nanum
!sudo fc-cache -fv
!rm ~/.cache/matplotlib -rf

Reading package lists... Done
Building dependency tree
Reading state information... Done
fonts-nanum is already the newest version (20170925-1).
0 upgraded, 0 newly installed, 0 to remove and 40 not upgraded.
/usr/share/fonts: caching, new cache contents: 0 fonts, 1 dirs
/usr/share/fonts/truetype: caching, new cache contents: 0 fonts, 3 dirs
/usr/share/fonts/truetype/humor-sans: caching, new cache contents: 1 fonts, 0 dirs
/usr/share/fonts/truetype/liberation: caching, new cache contents: 16 fonts, 0 dirs
/usr/share/fonts/truetype/nanum: caching, new cache contents: 10 fonts, 0 dirs
/usr/local/share/fonts: caching, new cache contents: 0 fonts, 0 dirs
/root/.local/share/fonts: skipping, no such directory
/root/.fonts: skipping, no such directory
/var/cache/fontconfig: cleaning cache directory
/root/.cache/fontconfig: not cleaning non-existent cache directory
/root/.fontconfig: not cleaning non-existent cache directory
fc-cache: succeeded

In [15]:
%matplotlib inline
import pandas as pd
import numpy as np
import seaborn as sns
import warnings

warnings.filterwarnings("ignore")

import matplotlib.pyplot as plt

%matplotlib inline
%config InlineBackend.figure_format='retina'

# ì„¤ì • ë³€í™˜ì„ ìœ„í•´ì„œ matplotlibë§Œ import
import matplotlib as mpl

# Windows
# mpl.rc("font", family='Malgun Gothic')

# MacOS
mpl.rc("font", family='AppleGothic')


import matplotlib.pyplot as plt

plt.rc('font', family='NanumBarunGothic')

# ì¹´ì´ì œê³±ê²€ì •


## 1. ê³µê³µë°ì´í„° ì¡°ì‘ ì—°ìŠµ. 

êµ­ê°€ í†µê³„ í¬í„¸ì—ì„œ ì•„ë˜ ì´ë¯¸ì§€ë¥¼ ì°¸ì¡°í•˜ì—¬

<https://kosis.kr/statisticsList/statisticsListIndex.do?menuId=M_01_01&vwcd=MT_ZTITLE&parmTabId=M_01_01#SelectStatsBoxDiv>

**2020ë…„ 8ì›”**ì— í•´ë‹¹í•˜ëŠ” ê·œëª¨ë³„ ë¯¸ë¶„ì–‘í˜„í™© ì— ëŒ€í•œ ë°ì´í„°ì…‹ì„ ìƒì„±í•˜ì„¸ìš”. 

<img src='https://i.imgur.com/aZc4UJO.png' width = 500>

- `60mì´í•˜`, `60~85m`, `85mì´ˆê³¼`ì˜ 3ê°œ ê·œëª¨ì™€ (column)
- `ì„œìš¸`, `ëŒ€ì „`, `ëŒ€êµ¬`, `ë¶€ì‚°` 4ê°œì˜ ì§€ì—­ì„ í¬í•¨í•´ì•¼í•©ë‹ˆë‹¤. (row)
- `ë¯¼ê°„ë¶€ë¬¸`ë§Œ í¬í•¨í•©ë‹ˆë‹¤
- ë°ì´í„°ê°€ ì—†ëŠ” ê²½ìš°ëŠ” 0ìœ¼ë¡œ ì²˜ë¦¬í•˜ì„¸ìš”.

ì´í›„ ë°ì´í„°ì…‹ì„ colabìœ¼ë¡œ ë¶ˆëŸ¬ì˜¤ì„¸ìš”. ì´ë•Œ ë³€ìˆ˜ì˜ ì´ë¦„ì€ `df`ë¥¼ ì‚¬ìš©í•©ë‹ˆë‹¤.

In [16]:
rocal = '/content/drive/MyDrive/Colab Notebooks/data_file/á„€á…²á„†á…©á„‡á…§á†¯_á„†á…µá„‡á…®á†«á„‹á…£á†¼á„’á…§á†«á„’á…ªá†¼.csv'
data = pd.read_csv(rocal, encoding='CP949')
data.head()

  ì‹œë„(1) ë¶€ë¬¸(1)   ê·œëª¨(1)  2020. 08
0    ì„œìš¸  ë¯¼ê°„ë¶€ë¬¸   60ã¡ì´í•˜        54
1    ì„œìš¸  ë¯¼ê°„ë¶€ë¬¸  60âˆ¼85ã¡         2
2    ì„œìš¸  ë¯¼ê°„ë¶€ë¬¸   85ã¡ì´ˆê³¼         0
3    ë¶€ì‚°  ë¯¼ê°„ë¶€ë¬¸   60ã¡ì´í•˜       577
4    ë¶€ì‚°  ë¯¼ê°„ë¶€ë¬¸  60âˆ¼85ã¡       735

In [17]:
data.drop(columns='ë¶€ë¬¸(1)', inplace=True)
data.head()

  ì‹œë„(1)   ê·œëª¨(1)  2020. 08
0    ì„œìš¸   60ã¡ì´í•˜        54
1    ì„œìš¸  60âˆ¼85ã¡         2
2    ì„œìš¸   85ã¡ì´ˆê³¼         0
3    ë¶€ì‚°   60ã¡ì´í•˜       577
4    ë¶€ì‚°  60âˆ¼85ã¡       735

In [18]:
# tidyí˜•íƒœì˜ tableì„ wide_tableë¡œ ë³€ê²½
df = data.pivot_table(index='ì‹œë„(1)', columns='ê·œëª¨(1)', values= '2020. 08')

# column ë° indexì˜ nameì„ ì§€ìš°ê¸°
df.columns.name =None
df.index.name=None

# column ì¬ë°°ì—´
df = df[['60ã¡ì´í•˜', '60âˆ¼85ã¡', '85ã¡ì´ˆê³¼']]
df
# col = ['~60m2', '60~85m2', '85m2~']
# row = ['ì„œìš¸', 'ëŒ€ì „', 'ëŒ€êµ¬', 'ë¶€ì‚°']

    60ã¡ì´í•˜  60âˆ¼85ã¡  85ã¡ì´ˆê³¼
ëŒ€êµ¬    143    1437     44
ëŒ€ì „    782       1      0
ë¶€ì‚°    577     735    142
ì„œìš¸     54       2      0

## 2. ì§€ì—­ì— ëŒ€í•´ì„œ one-sample chi-square testë¥¼ ì‹¤í–‰, í•´ë‹¹ ê²°ê³¼ë¥¼ `chi1`ì— ì €ì¥ í›„ ì„¤ëª…í•´ë³´ì„¸ìš”.

ì˜ˆì‹œ) ë§Œì•½ **9ì›”ë‹¬ ë°ì´í„°**ë¥¼ ê¸°ì¤€ìœ¼ë¡œ í•œë‹¤ë©´
```python
 [52+2+0, 590+665+142, 113+1061+42, 772+1+0]
```
ì„ ë¹„êµ í•˜ê²Œ ë  ê²ƒì…ë‹ˆë‹¤.

In [19]:
one_sample = df.sum(axis=1)
one_sample

ëŒ€êµ¬    1624
ëŒ€ì „     783
ë¶€ì‚°    1454
ì„œìš¸      56
dtype: int64

In [20]:
from scipy.stats import chisquare

chi1 = chisquare(one_sample)
chi1

Power_divergenceResult(statistic=1564.4572376818994, pvalue=0.0)

In [21]:
chi1.pvalue
if chi1.pvalue > 0.05 :
  print("ë¯¸ë¶„ì–‘ ìˆ˜ì™€ ì§€ì—­ê°„ ê´€ê³„ê°€ ì—†ë‹¤")
else :
  print("ë¯¸ë¶„ì–‘ ìˆ˜ì™€ ì§€ì—­ê³¼ ê´€ê³„ê°€ ìˆë‹¤")

ë¯¸ë¶„ì–‘ ìˆ˜ì™€ ì§€ì—­ê³¼ ê´€ê³„ê°€ ìˆë‹¤

## 3. ì§€ì—­ê³¼ ê·œëª¨ì— ëŒ€í•´ì„œ two-sample chi-square testë¥¼ ì‹¤í–‰, í•´ë‹¹ ê²°ê³¼ë¥¼ `chi2`ì— ì €ì¥ í›„ ì„¤ëª…í•´ë³´ì„¸ìš”.

ì˜ˆì‹œ) **9ì›”ë‹¬ ë°ì´í„°**ë¥¼ ê¸°ì¤€ìœ¼ë¡œ í•œë‹¤ë©´

| |-60 | 60-85 | 85- |
|:-:|:-:|:-:|:-:|
|ì„œìš¸|52|2|0|
|ëŒ€ì „|772|1|0|
|ëŒ€êµ¬|113|1061|42|
|ë¶€ì‚°|590|665|142|

ì— ëŒ€í•´ì„œ ê²€ì •í•´ì•¼ í•  ê²ë‹ˆë‹¤.

In [22]:
from scipy.stats import chi2_contingency

chi2 = chi2_contingency(df)
chi2
print(chi2_contingency(df,correction=False))
print()
print(chi2_contingency(df,correction=True))

(2064.5767314171994, 0.0, 6, array([[645.12228746, 901.76155221,  77.11616033],
       [311.04110288, 434.77789124,  37.18100587],
       [577.59101353, 807.36533061,  69.04365586],
       [ 22.24559612,  31.09522594,   2.65917794]]))

(2064.5767314171994, 0.0, 6, array([[645.12228746, 901.76155221,  77.11616033],
       [311.04110288, 434.77789124,  37.18100587],
       [577.59101353, 807.36533061,  69.04365586],
       [ 22.24559612,  31.09522594,   2.65917794]]))

In [23]:
# chi-square, p-value, ììœ ë„, expected ê°ê° ë³€ìˆ˜ë¡œ ì €ì¥
g, p, dof, expctd = chi2_contingency(df)

if p > 0.05 :
  print("ì§€ì—­ê³¼ ê·œëª¨ëŠ” ì„œë¡œ ê´€ê³„ê°€ ì—†ë‹¤")
else :
  print("ì§€ì—­ê³¼ ê·œëª¨ëŠ” ì„œë¡œ ê´€ê³„ê°€ ìˆë‹¤")

ì§€ì—­ê³¼ ê·œëª¨ëŠ” ì„œë¡œ ê´€ê³„ê°€ ìˆë‹¤

### 4. 2ë²ˆì— ëŒ€í•´ì„œ NumPy ë¥¼ ì‚¬ìš©í•˜ì—¬ (Scipyë¥¼ ì‚¬ìš©í•˜ì§€ ì•Šê³ ) $\chi^2$ test ì‹œí–‰ í›„ 2ë²ˆì˜ ê²°ê³¼ì™€ ë¹„êµí•´ë³´ì„¸ìš”. 

- `obs`, `exp`, `chi`ë¼ëŠ” ë³€ìˆ˜ë¥¼ ì‚¬ìš©í•´ì•¼í•©ë‹ˆë‹¤.

In [24]:
obs = np.array([1624, 783, 1454, 56])
obs

array([1624,  783, 1454,   56])

In [25]:
exp = sum(obs) / len(obs)
exp

979.25

In [26]:
chi = (obs-exp) ** 2 / exp
chi = sum(chi)
chi

1564.4572376818994

In [27]:
print('chi1 stastatistic: ',chi1.statistic)
print('chi : ', chi)

chi1.statistic == chi

chi1 stastatistic:  1564.4572376818994
chi :  1564.4572376818994

True

## ğŸ”¥ ë„ì „ ê³¼ì œ

ì•„ë˜ ì„¸ê°€ì§€ë¥¼ ë‹¤í•˜ë©´ ë©ë‹ˆë‹¤.

### 1. Function

4ë²ˆì—ì„œ ì‚¬ìš©í•œ one sample chisquare testë¥¼ í•¨ìˆ˜ì˜ í˜•íƒœë¡œ ë³€ê²½í•˜ì„¸ìš”.

In [28]:
v1 = [18,22,20,15,23,22]
v2 = [5,23,26,19,24,23]

def myChisq(value):
    return None# ë‚´ìš©ì„ ì±„ìš°ì„¸ìš”.

myChisq(v1) 

# chisquareê°’ê³¼ pvalueë¥¼ ì¶œë ¥í•´ì•¼í•©ë‹ˆë‹¤.

myChisq(v2)

### 2. ANOVA

ì•„ë˜ ë§í¬ë¥¼ ì°¸ì¡°í•˜ì—¬ ANOVA ì— ëŒ€í•œ ê¸€ì„ ì½ê³ 

<https://partrita.github.io/posts/ANOVA-python/>

ë‹¤ìŒ `4ê°œ ê·¸ë£¹ì— ëŒ€í•´ì„œ í‰ê· ì˜ ì°¨ì´ê°€ ìˆëŠ”ì§€`ì— ëŒ€í•œ ê°€ì„¤ ê²€ì •ì„ ì‹œí–‰í•˜ì„¸ìš”.

A : `38 33 35 92 76 97 88 41 11  9`

B : `18 52 62 48 30 40 87 12 97 82`

C :  `28 90  5 49 66 73 96 80  4 17`

D : ` 8 99  4 12  7 64 18 10  9 20`

In [29]:
# ì´ ê³³ì— ë‹µì•ˆì„ ì‘ì„±í•˜ì‹œê¸¸ ë°”ëë‹ˆë‹¤